@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', monospace;
	color: inherit;
	text-decoration: none;	
}

body {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: #fff;
}

img {
	margin: 8px;
}

.container {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.nav {
	margin: 2vmin;
	display: flex;
	flex-flow: column;
	align-items: center;
	font-size: 12vmin;
	font-weight: bold;
}

.quick-links
{
	display: flex;
}

.bg-slider {
	margin: 1vmin 1vmin;
	padding: 0 2vmin;
	outline: 1px solid rgba(255, 255, 255, 0.4);
	background-image: linear-gradient(90deg,
			transparent 0%,
			transparent 50%,
			white 50%,
			white 100%);
    background-size: 200%;
    transition: background-position .15s ease-out;
}

.bg-slider > a {
	mix-blend-mode: difference;
}

.bg-slider:hover {
    background-position: -100% 100%;
}