@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

body
{
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	margin-bottom: 0;
}

img
{
	margin: 10px;
}

div.social-links img
{
	width: 30px;
	margin: 0px;
	margin-right: 1px;
	margin-bottom: 10px;
}